@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(fonts/RobotoCondensed-Bold.ttf);
}

html {
    box-sizing: border-box;
}

body {
    color: #01353E;
    background: var(--white, #fff);
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1180px;
    width: 100%;
}

.header-background {
    position: absolute;
    background: url(img/1.png);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1080px;
    z-index: -5;
    top: 0;
    left: 0;
}

.header-background__top {
    position: absolute;
    width: 100%;
    height: 491px;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.60) 31.64%, rgba(51, 51, 51, 0.22) 74.35%, rgba(51, 51, 51, 0.00) 99.87%);
    z-index: -1;
    left: 0;
    top: 0;
}

.w {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.ww {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.header-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 15px;
}

.header-list__item {
    display: flex;
    font-size: 24px;
    font-style: normal;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.header-list__img{
    padding-right: 185px;
}

.header-title {
    color: #0D302C;
    font-family: "Raleway", sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 60px;
    padding-left: 250px;
    padding-bottom: none;
    margin-bottom: none;
}

.header-text {
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.school {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1110px;
    height: 656px;
    text-align: center;
    margin-top: 165px;
}

.school-title {
    margin-top: 500px;
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.school-title__slash {
    position: absolute;
    padding-top: 435px;
    padding-left: 970px;
    color: #00B2A0;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.school-columns {
    column-count: 2;
    margin-top: 96px;
}

.school-left__column {
    white-space: nowrap;
    font-size: 0;
    list-style: none;
    font-weight: 300;
    flex-direction: column;
    display: flex;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-align: left;

}

.school-right__column {
    white-space: normal;
    display: inline-block;
    list-style: none;
    padding-bottom: 500px;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-align: left;

}


.school-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1110px;
    height: 656px;
    text-align: center;
    margin-top: 400px;
}


.school-data {
    margin-top: 900px;
}

.data-slash {
    position: absolute;
    height: 68px;
    padding-left: 900px;
    padding-top: 25px;
}

.data-title {
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 295px;
}

.data-columns {
    white-space: nowrap;
    font-size: 0;
    margin-left: 80px;
}

.data-column {
    white-space: normal;
    display: inline-block;
    margin-right: 155px;
}

.data-columns .data-column:last-child {
    margin-right: 0;
}

.data-column__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
}

.img-list{
    list-style: none;
    margin-top: 110px;
    margin-left: 40px;
}

.data-columns-bottom{
    white-space: nowrap;
	font-size: 0;
}

.data-column__bot{
    white-space: normal;	
	display: inline-block;
}

.data-bot_text{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-left: 307px;
}





.info-title {
    margin-top: 500px;
    margin-bottom: 150px;
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    white-space: nowrap;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.info-title__slash {
    position: absolute;
    padding-left: 570px;
    padding-top: 415px;
    color: #00B2A0;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.info-columns {
    white-space: nowrap;
}

.info-text__item {
    list-style: none;
    text-align: left;
    margin: none;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: 0.6px;
}

.left-column__inf {
    white-space: normal;
    display: inline-block;
}


.right-column__inf {
    white-space: normal;
    display: inline-block;
}

.info-photo {
    padding-left: 203px;
    height: 650px;
}



.gallery {
    margin-top: 550px;

    text-align: center;
}

.gallery-slash {
    position: absolute;
    padding-left: 115px;
    padding-top: 20px;
}

.gallery-title{
    color: #01353E;
    font-family:"Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.gallery-but{
    margin-top: 50px;
    width: 350px;
    height: 70px;
    flex-shrink: 0;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    border-radius: none;
    border: 1px solid #C4C4C4;
    background: #FFF;
}

.video{
    margin-top: 203px;
}


.quote-background{
    position: absolute;
    left: 0;
    background-size: 100%;
    object-fit: cover;
    height: 200px;  
    flex-shrink: 0;
    background: #F8F8F8;
    width: 100%;
    z-index: -1;
}


.quote-text{
    color: #242121;
    padding-top: 81px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.6px;
}

.quote-text__bot{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.6px;
    margin-left: 800px;
}



.statistics{
    margin-top: 200px;
    margin-left: 250px;
    
}

.statistics-columns{
    white-space: nowrap;
	font-size: 0;

}

.statistic-column{
    white-space: normal;	
	display: inline-block;
    margin-right: 100px;
    text-align: center  ;
}

.statistic-columns.statistic-column:first-child{
    margin-right: none;
}

.stat-title{
    color: #01353E;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    }

.stat-text{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.6px;
}



.command{
    margin-top: 212px;
}

.command-slash{
    position: absolute;
    padding-left: 830px;
    padding-top: 20px;
}

.com-title{
    margin-bottom: 212px;
    text-align: center;
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.com-columns{
    white-space: nowrap;
	font-size: 0;
}

.com-column{
    white-space: normal;	
	display: inline-block;
    margin-right: 100px;
    text-align: center ;
}

.com-column__title{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
    letter-spacing: 0.6px;
    text-align: center ;
}

.com-text{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.6px;
    text-align: center ;
}



.services{
    margin-top: 204px;
}

.services-background{
    position: absolute;
    left: 0;
    background-size: 100%;
    object-fit: cover;
    width: 1920px;
    height: 1245px; 
    flex-shrink: 0;
    background: #F8F8F8;
    width: 100%;
    z-index: -1;
}


.services-slash{
    position: absolute;
    padding-left: 788px;
    padding-top: 220px;
}

.services-title{
    padding-top: 200px;
    text-align: center;
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.serv-columns{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.serv-column{
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	width: 100%;
    margin-right: 100px;
    text-align: center ;
    width: 360px;
    height: 577px;
}

.serv-column__background{
    position: absolute;
    width: 360px;
    height: 577px;
    flex-shrink: 0;
    background: #FFF;
    z-index: -1;
}

.serv-column__title{
    color: #01353E;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
}

.serv-column__text{
    color: #242121;
    text-align: left;
    padding-left: 31px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.serv-column__price{
    color: #01353E;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
    margin-left: 50px;
}

.application{
    margin-top: 500px;
}

.application-title{
    text-align: center;
    color: #01353E;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.application-slash {
    position: absolute;
    padding-top: 30px;
    padding-left: 840px;
    color: #00B2A0;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.application-columns{
    margin-top: 243px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.application-column{
    display: flex;
	flex-direction: column;
    align-items: center;
	flex-basis: 100%;
	flex: 1;
    width: 600px;
    height: 460px;
}

.app-data{
    color: #00B2A0;
    border-bottom: dotted #DADADA 1px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;   
}

.app-but{
    margin-top: 50px;
    width: 350px;
    height: 70px;
    flex-shrink: 0;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    border-radius: none;
    border: 1px solid #C4C4C4;
    background: #FFF;
}

.app-background{
    position: absolute;
    width: 600px;
    height: 460px;
    flex-shrink: 0;
    background: #F8F8F8;
    z-index: -1;
}

.app-data__right{
    padding-left: 52px;
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: 0.6px;
}

.application-column.app-data__right:first-child{
    margin-top: 49px;
}

.app-cont{
    position: absolute;
    margin-top: 650px;
    margin-left: 400px;
    margin-top: none;
}

.app-contact{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-contact__item{
    color: #242121;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 75% */
    letter-spacing: 0.6px;
    margin-left: 10px;
}

.app-contact__center{
    color: #00B2A0;
    font-family:"Roboto Condensed", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 75% */
    letter-spacing: 0.6px;
    margin-left: 10px;
}

.footer{
    /* position: relative; */
    width: 100%;
    height: 200px;
}

.footer-background{
    position: absolute;
    margin-top: 494px;
    background-color: #00B2A0;
    width: 100%;
    height: 200px;
    z-index: -1;
    flex-shrink: 0;
    left: 0;
}

.footer-img{
    padding-left: 915px;
    padding-top: 568px;
    position: absolute;
    z-index: 1;
}